@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fafbff;
}

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  html,
  body {
    @apply max-w-[100vw];
  }

  html {
    @apply bg-neutral-100;
  }

  body {
    @apply overflow-x-hidden overscroll-x-none min-h-screen;
  }
}

@layer utilities {
  .full-size {
    @apply absolute left-0 right-0 top-0 bottom-0;
  }

  .center {
    @apply left-1/2 -translate-x-1/2;
  }

  .clamp-line-3 {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-intro {
  0% {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
